@media (max-width:924px) {
     .main .content .content-text .footer .socials, ul {
        margin-top: 75px;
    }
}

@media (max-width:787px) {
    body {
        background-image: url(../images/bg-mobile.svg);
    }

    .main {
        flex-direction: column;
        margin: 40px;
    }

    .main .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }

    .main .content .content-text .footer {
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

    .main .content .content-text .footer .socials, ul {
        margin-top: 75px;
    }
}
